In [1]:
import numpy as np
import pandas as pd

A company started to invest in digital marketing as a new way of their product
promotions. For that they collected data and decided to carry out a study on it.

● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.

● The company needs to check whether there is any dependency between
thefeatures “Region” and “Manager”.

Help the company to carry out their study with the help of data provided.

In [2]:
sales=pd.read_csv(r'/Users/gangashaji/Downloads/Sales_add.csv')

In [3]:
sales

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [4]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

Null Hypothesis:There is no increase in sales after stepping into digital marketing.

Alternate Hypothesis:There is an increase in sales after stepping into digital marketing.

We can use one way anova.

In [5]:
from scipy.stats import f_oneway

In [6]:
f_oneway(sales['Sales_before_digital_add(in $)'],sales['Sales_After_digital_add(in $)'])

F_onewayResult(statistic=168.87221989150382, pvalue=2.6143680069046027e-16)

In [7]:
f_stat,p_val=f_oneway(sales['Sales_before_digital_add(in $)'],sales['Sales_After_digital_add(in $)'])

In [8]:
p_val

2.6143680069046027e-16

In [9]:
if p_val<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null hypothesis')

Reject Null Hypothesis

That means there is an increase in sales after stepping into digital marketing.

Part 2

H1:Region doesnot have an impact on the sales

H2:Manager doesnot have an impact on the sales

H3:Region and Manager doesnot have a combined impact on sales

We can use 2 way Anova

In [10]:
sales_melt=pd.melt(sales,id_vars=['Region','Manager'],value_vars=['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)'])

In [11]:
sales_melt

        Region      Manager                        variable   value
0   Region - A  Manager - A  Sales_before_digital_add(in $)  132921
1   Region - A  Manager - C  Sales_before_digital_add(in $)  149559
2   Region - B  Manager - A  Sales_before_digital_add(in $)  146278
3   Region - B  Manager - B  Sales_before_digital_add(in $)  152167
4   Region - C  Manager - B  Sales_before_digital_add(in $)  159525
5   Region - A  Manager - B  Sales_before_digital_add(in $)  137163
6   Region - C  Manager - C  Sales_before_digital_add(in $)  130625
7   Region - A  Manager - A  Sales_before_digital_add(in $)  131140
8   Region - B  Manager - C  Sales_before_digital_add(in $)  171259
9   Region - C  Manager - B  Sales_before_digital_add(in $)  141956
10  Region - B  Manager - C  Sales_before_digital_add(in $)  159339
11  Region - A  Manager - A  Sales_before_digital_add(in $)  178939
12  Region - B  Manager - A  Sales_before_digital_add(in $)  145062
13  Region - A  Manager - A  Sales_before_digital_add(in $)  151514
14  Region - C  Manager - A  Sales_before_digital_add(in $)  147463
15  Region - A  Manager - B  Sales_before_digital_add(in $)  177195
16  Region - A  Manager - C  Sales_before_digital_add(in $)  140862
17  Region - C  Manager - B  Sales_before_digital_add(in $)  167996
18  Region - B  Manager - A  Sales_before_digital_add(in $)  132135
19  Region - A  Manager - B  Sales_before_digital_add(in $)  152493
20  Region - B  Manager - A  Sales_before_digital_add(in $)  147425
21  Region - A  Manager - C  Sales_before_digital_add(in $)  130263
22  Region - A  Manager - A   Sales_After_digital_add(in $)  270390
23  Region - A  Manager - C   Sales_After_digital_add(in $)  223334
24  Region - B  Manager - A   Sales_After_digital_add(in $)  244243
25  Region - B  Manager - B   Sales_After_digital_add(in $)  231808
26  Region - C  Manager - B   Sales_After_digital_add(in $)  258402
27  Region - A  Manager - B   Sales_After_digital_add(in $)  256948
28  Region - C  Manager - C   Sales_After_digital_add(in $)  222106
29  Region - A  Manager - A   Sales_After_digital_add(in $)  230637
30  Region - B  Manager - C   Sales_After_digital_add(in $)  226261
31  Region - C  Manager - B   Sales_After_digital_add(in $)  193735
32  Region - B  Manager - C   Sales_After_digital_add(in $)  203175
33  Region - A  Manager - A   Sales_After_digital_add(in $)  276279
34  Region - B  Manager - A   Sales_After_digital_add(in $)  205180
35  Region - A  Manager - A   Sales_After_digital_add(in $)  253131
36  Region - C  Manager - A   Sales_After_digital_add(in $)  229336
37  Region - A  Manager - B   Sales_After_digital_add(in $)  187305
38  Region - A  Manager - C   Sales_After_digital_add(in $)  234908
39  Region - C  Manager - B   Sales_After_digital_add(in $)  191517
40  Region - B  Manager - A   Sales_After_digital_add(in $)  227040
41  Region - A  Manager - B   Sales_After_digital_add(in $)  212579
42  Region - B  Manager - A   Sales_After_digital_add(in $)  263388
43  Region - A  Manager - C   Sales_After_digital_add(in $)  243020

In [12]:
sales_melt.columns=['Region','Manager','Before/After Digital_Marketing','Value']

In [13]:
sales_melt

        Region      Manager  Before/After Digital_Marketing   Value
0   Region - A  Manager - A  Sales_before_digital_add(in $)  132921
1   Region - A  Manager - C  Sales_before_digital_add(in $)  149559
2   Region - B  Manager - A  Sales_before_digital_add(in $)  146278
3   Region - B  Manager - B  Sales_before_digital_add(in $)  152167
4   Region - C  Manager - B  Sales_before_digital_add(in $)  159525
5   Region - A  Manager - B  Sales_before_digital_add(in $)  137163
6   Region - C  Manager - C  Sales_before_digital_add(in $)  130625
7   Region - A  Manager - A  Sales_before_digital_add(in $)  131140
8   Region - B  Manager - C  Sales_before_digital_add(in $)  171259
9   Region - C  Manager - B  Sales_before_digital_add(in $)  141956
10  Region - B  Manager - C  Sales_before_digital_add(in $)  159339
11  Region - A  Manager - A  Sales_before_digital_add(in $)  178939
12  Region - B  Manager - A  Sales_before_digital_add(in $)  145062
13  Region - A  Manager - A  Sales_before_digital_add(in $)  151514
14  Region - C  Manager - A  Sales_before_digital_add(in $)  147463
15  Region - A  Manager - B  Sales_before_digital_add(in $)  177195
16  Region - A  Manager - C  Sales_before_digital_add(in $)  140862
17  Region - C  Manager - B  Sales_before_digital_add(in $)  167996
18  Region - B  Manager - A  Sales_before_digital_add(in $)  132135
19  Region - A  Manager - B  Sales_before_digital_add(in $)  152493
20  Region - B  Manager - A  Sales_before_digital_add(in $)  147425
21  Region - A  Manager - C  Sales_before_digital_add(in $)  130263
22  Region - A  Manager - A   Sales_After_digital_add(in $)  270390
23  Region - A  Manager - C   Sales_After_digital_add(in $)  223334
24  Region - B  Manager - A   Sales_After_digital_add(in $)  244243
25  Region - B  Manager - B   Sales_After_digital_add(in $)  231808
26  Region - C  Manager - B   Sales_After_digital_add(in $)  258402
27  Region - A  Manager - B   Sales_After_digital_add(in $)  256948
28  Region - C  Manager - C   Sales_After_digital_add(in $)  222106
29  Region - A  Manager - A   Sales_After_digital_add(in $)  230637
30  Region - B  Manager - C   Sales_After_digital_add(in $)  226261
31  Region - C  Manager - B   Sales_After_digital_add(in $)  193735
32  Region - B  Manager - C   Sales_After_digital_add(in $)  203175
33  Region - A  Manager - A   Sales_After_digital_add(in $)  276279
34  Region - B  Manager - A   Sales_After_digital_add(in $)  205180
35  Region - A  Manager - A   Sales_After_digital_add(in $)  253131
36  Region - C  Manager - A   Sales_After_digital_add(in $)  229336
37  Region - A  Manager - B   Sales_After_digital_add(in $)  187305
38  Region - A  Manager - C   Sales_After_digital_add(in $)  234908
39  Region - C  Manager - B   Sales_After_digital_add(in $)  191517
40  Region - B  Manager - A   Sales_After_digital_add(in $)  227040
41  Region - A  Manager - B   Sales_After_digital_add(in $)  212579
42  Region - B  Manager - A   Sales_After_digital_add(in $)  263388
43  Region - A  Manager - C   Sales_After_digital_add(in $)  243020

In [14]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [15]:
model=ols('Value~C(Region)+C(Manager)+C(Region):C(Manager)',data=sales_melt).fit()

In [16]:
anova_table=sm.stats.anova_lm(model,typ=2)

In [17]:
anova_table

                            sum_sq    df         F    PR(>F)
C(Region)             4.813986e+08   2.0  0.093493  0.910971
C(Manager)            6.576880e+08   2.0  0.127731  0.880499
C(Region):C(Manager)  7.538753e+08   4.0  0.073206  0.989826
Residual              9.010794e+10  35.0       NaN       NaN

Accept H1, H2 and H3 as P is greater than 0.05 for H1 ,H2 and H3

That means region and mananger and they combined doesn't have any impact on the sales.